{
  "presets": [
    // ["@babel/env", {
    //   "targets": {
    //     "browsers": [
    //       ">0.25%",
    //       "not ie 11",
    //       "not op_mini all"
    //     ]
    //   },
    //   "modules": true
    // }],
    ["@babel/preset-env"],
    ["@babel/preset-react"]
  ],
  
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
