

.about-body{
    width:95%;
    height: 95%;
    /* background-color: rgba(1, 69, 255, 0.76); */
    /* position: absolute; */
    
}

.about-body .intro {
    width:100%;
    padding: 5px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #f3f3f3;
    /* background-color: rgb(44, 44, 43); */
    
    /* height:600px; */
    letter-spacing: 2px;
    text-align: center;
} 
.intro > .container{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.intro .title{
    width:100%;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 20px;
}
.intro .content{
    width:80%;
    text-align: left;
}

.author {
    width:100%;
    margin: 0 auto;
    padding-top: 10px;
    
    color: #f3f3f3;
    top:1400px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 3px 3px 3px;
   
} 
.author > .container{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.author .title{
    width:100%;
    font-size: 2em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f3f3f3;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 20px;
    /* font-family: 'Press Start 2P', cursive; */
}
.author .content{
    width:80%;
    line-height: 1.8;
    /* margin: 10px auto; */
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    font-family: jackeyfont;
}
.author .content span{
    font-size: 16px;
    font-weight: normal;
    font-family: 'Press Start 2P', cursive;
}

@media screen and (max-width: 900px){
    .intro .container{
        width: 90%;
    }
    .intro .content{
        width:80%;
    }
    .author .container{
        width: 90%;
    }
    .author .content{
        width:80%;
    }
    .main .about-title .p1{
        display:none;
        /* font-size: 4em; */
        
    }
    .main .about-title .p2{
        
        display: block;
    }
}

@media screen and (max-width: 600px){
    .main > .about-title{
        padding-top: 50px;
        height:300px;
    }
    .main .about-title .p2{
        font-size: 3em;
        position: absolute;
        top:100px;
    }
    .about-body{
        top:300px;
    }

    .intro .container{
        width: 90%;
    }
    .intro .content{
        width:100%;
        line-height: 1.5;
    }
    .author .container{
        width: 90%;
    }
    .author .content{
        width:100%;
        line-height: 1.5;
    }    
}