

.about-body{
    width:95%;
    height: 95%;
    /* background-color: rgba(1, 69, 255, 0.76); */
    /* position: absolute; */
    
}

.author {
    width:100%;
    margin: 0 auto;
    padding-top: 10px;
    
    color: #f3f3f3;
    top:1400px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 3px 3px 3px;
   
} 
.author > .container{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.author .title{
    width:100%;
    font-size: 2em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f3f3f3;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 20px;
    /* font-family: 'Press Start 2P', cursive; */
}
.author .content{
    width:80%;
    line-height: 1.8;
    /* margin: 10px auto; */
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    font-family: jackeyfont;
}
.author .content span{
    font-size: 16px;
    font-weight: normal;
    font-family: 'Press Start 2P', cursive;
}

