#game{
    position: absolute;
    top:10%;
    left: 30%;
}
.keys{
    width:80%;
    position: absolute;
    left:12%;
    bottom:10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.keys .key-item {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.keys .key-item .key{
    width:48px;
    height:48px;
    margin: 10px;
}

.keys .key-item .key img{
    width:100%;
}

.keys .key-item .text{
    max-width:250px;
    
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
}
#direction{
    width:120px;
    height:80px;  
}
#direction-text{
    padding-top: 40px;
}