.main{
    width:100%;
    /* min-height: 800px; */
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.main::before{
    -webkit-background-repeat:no-repeat;
    -webkit-background-size: cover;
    -webkit-background-position: center;
    -webkit-background-position-y: 20%;
    -webkit-background-attachment: fixed;

    content: "";
    width: 100%;
    /* height: 800px; */
    height: 100%;
    position: absolute;
    background-image: url('../../materials/img/banner.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    
    background-position-y: 20%;
    opacity: 0.8;
    background-attachment: fixed;
     /* filter: saturate(1.5); */
     /* filter: grayscale(0) blur(3px) opacity(0.7); */
     
}
.background{
    -webkit-background-repeat:no-repeat;
    -webkit-background-size: cover;
    -webkit-background-position: center;
    -webkit-background-position-y: 20%;
    -webkit-background-attachment: fixed;
   
    width:100%;
    height: 700px;
    position: absolute;
    background-image: url('../../materials/img/banner.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 20%;
    filter: grayscale(0) blur(2px) opacity(0.4);
    background-attachment: fixed;

    
}
.about-background{
    -webkit-background-repeat:no-repeat;
    -webkit-background-size: cover;
    -webkit-background-position-x: 80%;
    -webkit-background-attachment: fixed;

    width:100%;
    height: 600px;
    position: absolute;
    top:1620px;
    background-image: url('../../materials/img/street.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-x: 80%;
    background-attachment: fixed;

    
}
.about-background2{
    -webkit-background-repeat:no-repeat;
    -webkit-background-size: cover;
    -webkit-background-position-x: 80%;
    -webkit-background-attachment: fixed;

    width:100%;
    height: 700px;
    position: absolute;
    top:2220px;
    filter: grayscale(0) blur(1px) opacity(0.7);
    background-image: url('../../materials/img/street.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-x: 80%;
    background-attachment: fixed;
}



.main >.title{
    position: relative;
    width:100%;
    height:100%;
    /* padding-top: 180px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    z-index: 10;
}

.main >.title>.p2{
    text-align: center;
    font-size: 2em;
    /* margin: 0 auto; */
    position: absolute;
    top: 20%;
    width: 100%;
    /* opacity: 0; */
    font-family: 'Press Start 2P', cursive;
    padding: 50px 0;
    color:#f3f3f3;
    letter-spacing: 10px;
    font-weight: 700;

    /* animation-name: move-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: .5s; */
    
    text-shadow: rgb(0, 0, 0) 7px 7px 1px;
}
.main .title .p1{
    text-align: center ;
    width: 100%;
    /* opacity: 0; */
    font-size: 7em;
    position: absolute;
    top: calc( 10% );
    font-style: italic;
    font-family: jackeyfont;
    color:#f3f3f3;  
    font-weight: 1000;
    letter-spacing: 40px;
    /* padding-top: 40px; */
    /* top:350px; */
    /* right: -50%; */
    
    /* animation-name: move-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 1.5s; */
    
    text-shadow: rgb(0, 0, 0) 10px 7px 1px;
}

.main >.title >.menu{
    width:350px;
    margin-top: 200px;
    height:60%;
    /* margin-right: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    font-family: 'Press Start 2P', cursive;
}


.main >.title >.menu > .play,
.main >.title >.menu > .story,
.main >.title >.menu > .video,
.main >.title >.menu > .about{
    font-size: 2em;
    font-weight: bolder;
    width:80%;
    position: relative;
    color:#ffffff;
    padding: 10px;
    margin:20px;
    /* background-color: rgb(39, 39, 39); */
    /* border-radius: 10px; */
    z-index: 10;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 2px 2px 1px;
    cursor: pointer;
    
}

.main >.title >.menu > .play:hover,
.main >.title >.menu > .story:hover,
.main >.title >.menu > .video:hover,
.main >.title >.menu > .about:hover{
    color:rgb(97, 100, 255);
}




.main .title .board{
    width:60%;
    height:60%;
    margin: 20px;
    margin-top: 250px;
    /* border-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
    /* border-top-left-radius: 50px; */
    /* background-color: rgba(0, 0, 0, 0.75); */
    /* border:2px solid rgba(255, 255, 255, 0.856); */
    /* box-shadow: black 20px 20px 20px; */
    

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}



/* .main .title .enter,
.main .title .intro,
.main .title .about{
    position: absolute;
    
    font-size: 3em;
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    width:250px;
    height:70px;
    line-height: 70px;
    border-radius: 200px;
    background-color: #000000;
    letter-spacing: 2px;
    box-shadow: rgb(105, 104, 104) 0px 10px 5px;
    transition: 0.3s;
} */
/* 
.main .title .enter{
    top: calc(50% + 200px);
}

.main .title .intro{
    top: calc(50% + 200px);
}

.main .title .about{
    top: calc(50% + 300px);
}


.main .title .play:hover{
    background-color: rgb(82, 81, 81);
    bottom:9%;
    box-shadow: rgb(20, 20, 20) 0px 5px 5px;
    
} */






