.main{
    width:100%;
    /* min-height: 800px; */
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.main::before{
    -webkit-background-repeat:no-repeat;
    -webkit-background-size: cover;
    -webkit-background-position: center;
    -webkit-background-position-y: 20%;
    -webkit-background-attachment: fixed;

    content: "";
    width: 100%;
    /* height: 800px; */
    height: 100%;
    position: absolute;
    background-image: url('../../materials/img/banner.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    
    background-position-y: 20%;
    opacity: 0.8;
    background-attachment: fixed;
     
}


.main >.title{
    position: relative;
    width:100%;
    height:100%;
    /* padding-top: 180px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    z-index: 10;
}

.main >.title>.p2{
    text-align: center;
    font-size: 2em;
    /* margin: 0 auto; */
    position: absolute;
    top: 20%;
    width: 100%;
    /* opacity: 0; */
    font-family: 'Press Start 2P', cursive;
    padding: 50px 0;
    color:#f3f3f3;
    letter-spacing: 10px;
    font-weight: 700;
    
    text-shadow: rgb(0, 0, 0) 7px 7px 1px;
}
.main .title .p1{
    text-align: center ;
    width: 100%;
    /* opacity: 0; */
    font-size: 7em;
    position: absolute;
    top: calc( 10% );
    font-style: italic;
    font-family: jackeyfont;
    color:#f3f3f3;  
    font-weight: 1000;
    letter-spacing: 40px;
    
    text-shadow: rgb(0, 0, 0) 10px 7px 1px;
}

@media screen and (max-width: 1000px){
    .main .title .p1{
        font-size: 5em;
    }
    .main .title .p2{
        font-size: 1.6em;
    }
}
@media screen and (max-width: 800px){
    .main .title .p1{
        letter-spacing: 10px;
    }
    .main .title .p2{
        letter-spacing: normal;
        text-shadow: rgb(0, 0, 0) 3px 3px 1px;
    }
}
@media screen and (max-width: 500px){
    .main .title .p1{
        font-size: 3.5em;
        text-shadow: rgb(0, 0, 0) 5px 5px 1px;
    }
    .main .title .p2{
        font-size: 1em;
        padding: 20px 0;
    }

}






.main >.title >.menu{
    width:300px;
    margin-top: 200px;
    padding-left: 50px;
    height:60%;
    /* margin-right: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    font-family: 'Press Start 2P', cursive;
}


.main >.title >.menu > .play,
.main >.title >.menu > .story,
.main >.title >.menu > .video,
.main >.title >.menu > .about{
    font-size: 2em;
    font-weight: bolder;
    width:80%;
    position: relative;
    color:#ffffff;
    padding: 10px;
    margin:20px;
    z-index: 10;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 2px 2px 1px;
    cursor: pointer;
    
}

.main >.title >.menu > .play:hover,
.main >.title >.menu > .story:hover,
.main >.title >.menu > .video:hover,
.main >.title >.menu > .about:hover{
    color:#2c6fff !important;
}


@media screen and (max-width: 1000px){
    .main >.title{
        justify-content: space-evenly;
    }
    
    .main >.title >.menu > .play,
    .main >.title >.menu > .story,
    .main >.title >.menu > .video,
    .main >.title >.menu > .about{
        font-size: 1.5em;
    }
    .main >.title >.menu{
        width:200px;
        padding-left: 0;
    }
    
}
@media screen and (max-width: 800px){
    .main >.title >.menu > .play,
    .main >.title >.menu > .story,
    .main >.title >.menu > .video,
    .main >.title >.menu > .about{
        font-size: 2em;
    }
    .main >.title >.menu{
        width:300px;
    }
}
@media screen and (max-width: 500px){
    .main >.title >.menu > .play,
    .main >.title >.menu > .story,
    .main >.title >.menu > .video,
    .main >.title >.menu > .about{
        font-size: 1.3em;
    }
    .main >.title >.menu{
        margin-top: 40%;
    }
}


.main .title .board{
    width:70%;
    height:60%;
    margin:10px;
    margin-top: 250px;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.main .title .board .close{
    width:30px;
    height:30px;
    text-align: center;
    position: absolute;
    color:white;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    top:30px;
    right:15px;
    cursor: pointer;
}

.main .title .warning{
    display: none;
    position: absolute;
    bottom:20px;
    color:red;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    line-height: 2;
    font-style: italic;
    text-align: center;
} 


@media screen and (max-width: 1000px){
    .main .title .board{
        margin-right: 20px;
        width:50%;
    }
}

@media screen and (max-width: 800px){
    .main .title .board{
        display: none;
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        padding-top: 10%;
        width:100%;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.9)
    }

    .main .title .warning{
        display: block;
    }
}







