*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    /* width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #f3f3f3;
    
}


body{
	font-size:16px;
	/* font-family:"Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif; */
	color:#3f3a3a;
}