
header{
    padding: 20px 20px 020px;
    width: 100%;
    margin: 0 auto;
}

nav{
    display: flex;
    width: 60%;
    height: 80px;
    font-size: 1.6em;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}
nav div{
    padding: 12px 16px ;
    letter-spacing: 2px;
    
}
.ball{
    width:36px;
    height:36px;
    position: absolute;
    top: 40px;
    /* left: calc(50% - 20% - 100px); */
    /* left: calc(50%  - 110px); */
    /* left: calc(50% + 20% - 100px); */
}

a{
    color: #303030;
    cursor: pointer;
}