
header{
    padding: 20px 20px 020px;
    width: 100%;
    margin: 0 auto;
}

nav{
    display: flex;
    width: 60%;
    height: 80px;
    font-size: 1.6em;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}
nav div{
    padding: 12px 16px ;
    letter-spacing: 2px;
    text-shadow: gray 2px 2px 1px;
    transition: 0.3s;
}
nav div:hover{
  padding-top: 1px;
  
}
.ball{
    width:36px;
    height:36px;
    position: absolute;
    top: 40px;

}

nav a{
    color: #303030;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    nav{
        width:80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    nav div{
        padding: 16px ;
        letter-spacing: 2px;
        text-shadow: gray 2px 2px 1px;
    }
    .ball{
        display: none;
    }
}
@media screen and (max-width: 600px){
    nav{
        width:100%;
        font-size: 1em;
        height: 40px;
    }
    header{
        padding: 10px;
    }
    
}